.well h1 p {
  float: left;
}

.well ul {
  float: right;
}

.column1 {
  background-color: #e6ffe6;
}

img {
  padding: 10px;
}

.sidebar {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 10px;
  max-width: 125px;
  float: left;
  background-color: lightgrey;


}

.container {
  float: right;
}

#id {
  float: right;
}

}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.col-sm-6 {
  float:right;
}
